#onglets li

{
    color: rgb(255, 0, 0);
    float : left;

    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */

    background-color: rgb(165, 180, 190);

    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */

    list-style-type: none;
    border : 1px solid #9EA0A1;

}